<ion-header no-border>
  <ion-toolbar>
    <ion-title>ScoreScanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="/assets/imagenes/img_perfil.png"></ion-img>
          </ion-col>

          <ion-col class="top-50">
            <div>
              <ion-icon name="person"></ion-icon>
              Joe Black
            </div>

            <div>
              <ion-icon name="mail"></ion-icon>
              joeblack@site.com
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-button class="top-50" routerLink="/scanner" color="tertiary" expand="block" size="large">
    Scanner
    <ion-icon slot="start" name="camera"></ion-icon>
  </ion-button>

  <ion-button routerLink="/biblioteca" color="secondary" expand="block" size="large">
    Biblioteca
    <ion-icon slot="start" name="document"></ion-icon>
  </ion-button>
</ion-content>